
<table width="100%">
<tr>
  <td class="progress-label">Progress:</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
</tr>
</table>
<hr />
