
<table border="1" width="100%">
<tr>
<td width="10%">Progress:</td>
<td style="background-color: #F22; width: 7%">&nbsp;</td>
<td style="background-color: #F22; width: 7%">&nbsp;</td>
<td style="background-color: #F22; width: 7%">&nbsp;</td>
<td style="background-color: #F22; width: 7%">&nbsp;</td>
<td style="background-color: #F22; width: 7%">&nbsp;</td>
<td style="background-color: #F22; width: 7%">&nbsp;</td>
<td style="background-color: #FFF; width: 7%">&nbsp;</td>
<td style="background-color: #FFF; width: 7%">&nbsp;</td>
<td style="background-color: #FFF; width: 7%">&nbsp;</td>
<td style="background-color: #FFF; width: 7%">&nbsp;</td>
<td style="background-color: #FFF; width: 7%">&nbsp;</td>
</tr>
</table>

{{yield}}
