
<table width="100%">
<tr>
  <td class="progress-label">Progress:</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-behind">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
  <td class="progress-bar progress-ahead">&nbsp;</td>
</tr>
</table>
<table width="100%" class="main-nav">
<tr>
  <td>{{#link-to 'question' 1 }}Quiz{{/link-to}}</td>
  <td>{{#link-to 'alumni' 1}}Alumni{{/link-to}}</td>
  <td>{{#link-to 'select-clusters'}}Career Pathways{{/link-to}}</td>
</tr>
</table>

<hr /><br />
