
<li>{{#link-to 'question' 1}}Quiz{{/link-to}}</li>
<li>{{#link-to 'results'}}Results{{/link-to}}</li>
<li>{{#link-to 'alumni' 1}}Alumni Network{{/link-to}}</li>
<li>{{#link-to 'alumni' 1}}Saved Alumni{{/link-to}}</li>
<li>{{#link-to 'select-clusters'}}Career Pathways{{/link-to}}</li>
<li>{{#link-to 'alumni'}}My Plan{{/link-to}}</li>
<li>{{#link-to 'alumni'}}Inbox{{/link-to}}</li>
<li>{{#link-to 'resources'}}Resources{{/link-to}}</li>
<li>{{#link-to 'alumni'}}About{{/link-to}}</li>
<li>{{#link-to 'alumni'}}Settings{{/link-to}}</li>


<li {{action "logout"}} class="logout">LogOut</li>
{{yield}}
