<p>&nbsp;</p>
<dt {{action "toggleDescription"}}>
  {{scoreArea.area}}
</dt>
<dd>
  <div class="score" {{action "toggleDescription"}}><div class="fill"></div></div>
  <div class="desc">{{{scoreArea.desc}}}</div>
</dd>