<?xml version='1.0' encoding='utf-8'?>
<widget id="org.younginvincibles.here2career" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" android-versionCode = "15103101">
    <name>Here to Career</name>
    <description>
        This app provides resources on California Community Colleges.
    </description>
    <author email="dev@ginkgostreet.com" href="http://www.ginkgostreet.com">
        Ginkgo Street Labs
    </author>
    <content src="index.html#/welcome" />
    <access origin="*" />
    <platform name="ios">
        <preference name="BackupWebStorage" value="none"/>
    </platform>
</widget>
