<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="160304001" id="org.younginvincibles.here2career" version="0.0.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Here to Career</name>
    <description>
        This app provides resources on California Community Colleges.
    </description>
    <author email="dev@ginkgostreet.com" href="http://www.ginkgostreet.com">
        Ginkgo Street Labs
    </author>
    <content src="index.html#/welcome" />
    <access origin="*" />
    <icon src="res/icon-72@2x.png" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="30000" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-inappbrowser" spec="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-geolocation" spec="~1.0.1" />
    <plugin name="cordova-plugin-statusbar" spec="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-spinner-dialog" spec="https://github.com/Paldom/SpinnerDialog.git" />
    <plugin name="nl.x-services.plugins.socialsharing" spec="https://github.com/Telerik-Verified-Plugins/SocialSharing" />
    <plugin name="cordova-plugin-facebook4" spec="https://github.com/jeduan/cordova-plugin-facebook4">
        <variable name="APP_ID" value="699449926827946" />
        <variable name="APP_NAME" value="here-career" />
    </plugin>
    <plugin name="phonegap-parse-plugin" spec="https://github.com/ginkgostreet/phonegap-parse-plugin.git#healthyi-1.1">
        <variable name="APP_ID" value="hKy3FnB8M27jIHBXZNfX1Lk2QmwoyGOeDon9EPZ3" />
        <variable name="CLIENT_KEY" value="YwRrf7cxtwGoEHSJR5SPLXTuyBHEh1hdaRJUFxIo" />
    </plugin>
    <hook src="scripts/before_prepare/build_ember_app.sh" type="before_prepare" />
    <hook src="scripts/before_build/030_configure_parse.js" type="before_build" />
    <platform name="ios">
        <preference name="BackupWebStorage" value="none" />
        <plugin name="cordova-plugin-geolocation" spec="~1.0.1" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="res/icon-60@3x.png" width="180" />
        <icon height="60" src="res/icon-60.png" width="60" />
        <icon height="120" src="res/icon-60@2x.png" width="120" />
        <icon height="76" src="res/icon-76.png" width="76" />
        <icon height="152" src="res/icon-76@2x.png" width="152" />
        <icon height="40" src="res/icon-40.png" width="40" />
        <icon height="80" src="res/icon-40@2x.png" width="80" />
        <icon height="57" src="res/icon.png" width="57" />
        <icon height="114" src="res/icon@2x.png" width="114" />
        <icon height="72" src="res/icon-72.png" width="72" />
        <icon height="144" src="res/icon-72@2x.png" width="144" />
        <icon height="29" src="res/icon-small.png" width="29" />
        <icon height="58" src="res/icon-small@2x.png" width="58" />
        <icon height="50" src="res/icon-50.png" width="50" />
        <icon height="100" src="res/icon-50@2x.png" width="100" />
        <splash height="480" idth="320" src="res/screen.png" />
        <splash height="960" idth="640" src="res/screen.png" />
        <splash height="1024" idth="768" src="res/screen.png" />
        <splash height="2048" idth="1536" src="res/screen.png" />
        <splash height="768" idth="1024" src="res/screen.png" />
        <splash height="1536" idth="2048" src="res/screen.png" />
        <splash height="1136" idth="640" src="res/screen.png" />
        <splash height="1334" idth="750" src="res/screen.png" />
        <splash height="2208" idth="1242" src="res/screen.png" />
        <splash height="1242" idth="2208" src="res/screen.png" />
        <preference name="FadeSplashScreenDuration" value="1000" />
    </platform>
    <platform name="android">
        <hook src="scripts/after_platform_add/40_fix_android_menu.js" type="after_platform_add" />
        <icon density="ldpi" src="res/icon-ldpi.png" />
        <icon density="mdpi" src="res/icon-mdpi.png" />
        <icon density="hdpi" src="res/icon-hdpi.png" />
        <icon density="xhdpi" src="res/icon-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon-xxxhdpi.png" />
        <splash density="land-hdpi" src="res/screen.png" />
        <splash density="land-ldpi" src="res/screen.png" />
        <splash density="land-mdpi" src="res/screen.png" />
        <splash density="land-xhdpi" src="res/screen.png" />
        <splash density="land-xxhdpi" src="res/screen.png" />
        <splash density="land-xxxhdpi" src="res/screen.png" />
        <splash density="port-hdpi" src="res/screen.png" />
        <splash density="port-ldpi" src="res/screen.png" />
        <splash density="port-mdpi" src="res/screen.png" />
        <splash density="port-xhdpi" src="res/screen.png" />
        <splash density="port-xxhdpi" src="res/screen.png" />
        <splash density="port-xxxhdpi" src="res/screen.png" />
        <preference name="SplashScreenDelay" value="30000" />
        <preference name="SplashMaintainAspectRatio" value="true" />
    </platform>
    <platform name="amazon-fireos">
        <icon density="ldpi" src="res/icon-ldpi.png" />
        <icon density="mdpi" src="res/icon-mdpi.png" />
        <icon density="hdpi" src="res/icon-hdpi.png" />
        <icon density="xhdpi" src="res/icon-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon-xxxhdpi.png" />
        <splash density="land-hdpi" src="res/screen.png" />
        <splash density="land-ldpi" src="res/screen.png" />
        <splash density="land-mdpi" src="res/screen.png" />
        <splash density="land-xhdpi" src="res/screen.png" />
        <splash density="land-xxhdpi" src="res/screen.png" />
        <splash density="land-xxxhdpi" src="res/screen.png" />
        <splash density="port-hdpi" src="res/screen.png" />
        <splash density="port-ldpi" src="res/screen.png" />
        <splash density="port-mdpi" src="res/screen.png" />
        <splash density="port-xhdpi" src="res/screen.png" />
        <splash density="port-xxhdpi" src="res/screen.png" />
        <splash density="port-xxxhdpi" src="res/screen.png" />
    </platform>
</widget>
