div.hotOrNotButtons {
  width: 150px;
  margin: 0 auto;
  padding-top: 10px;
  clear: both;
}

div.hotOrNotButtons div.swipeIndicator {
  height: 50px;
  width: 50px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  overflow: hidden;
  background: $white;
  border-radius: 100%;
  box-shadow: 0 0 2px 1px $darken15;
  text-align: center;
  font-size: 50px;
}
div.hotOrNotButtons div.swipeIndicator i.material-icons {
  font-size: 40px;
  line-height: 50px;
}
div.hotOrNotButtons .Dismiss {
  color: #f00;
}

div.hotOrNotButtons .Save {
  color: #2DCE06;
}

.yellow {
  color: $htcYellow;
}

.alumniDescription {
  clear: both;
  display: none;
  padding: 15px;
}



/**[  CSS Rules for the Poloroid widget ]**/

.mainContent .poloroid-container {
  margin: 0;
  width: 100%;
}

.mainContent .poloroid {
  width: 80%;
  padding: 5% 5% 0 5%;
  border-bottom: 1px;
  background: $white;
  box-shadow: 0 0 2px 1px $darken15;
  margin: 0 auto;
}

.mainContent .poloroid .poloroid-img-container {
  width: 100%;
  height: 60vw;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
}

.mainContent .poloroid .poloroid-img {
  width: 100%;
  height: auto;
}

.mainContent .poloroid-container .cards {
  box-shadow: 2px 1px 1px 0 $darken15, -2px 1px 1px 0 $darken15;
  height: 3px;
  background: $white;
  clear: both;
  margin: 1px auto;
}
.mainContent .poloroid-container .card1 {
  width: 76%;
}
.mainContent .poloroid-container .card2 {
  width: 72%;
}

.mainContent .poloroid-footer {
  padding: 10% 0;
}

.poloroid-img {
  margin: auto;
}

.poloroid h3 {
  display: inline;
  color: $grey7;
}

/** Landscape Rules **/
@media screen and (orientation:landscape) {

  .mainContent .poloroid-container {
    width: 45%;
    float: left;
    margin: 5px;
    margin-left: 2.5%;
  }
  .mainContent .poloroid {
    width: 100%;
  }
  .mainContent .poloroid .poloroid-img-container {
    width: 40vw;
    height: 34vw;
  }

  .mainContent .poloroid-footer {
    padding: 6% 0;
  }

  .alumni-header {
    float: right;
    width: 50%;
    text-align: center;
  }

  div.hotOrNotButtons {
    width: 50%;
    height: 10vh;
    padding: 5px 10%;
    float: right;
    clear: none;
  }

  .mainContent .poloroid-container .cards {
    display: none;
  }

  div.alumniDescription {
    width: 50%;
    float: right;
    height: 55vh;
    overflow-y: auto;
    clear: right;
    margin: 8vh 0 0 0;
  }
}