$lightBlue: #5c7fbe;
$htcBlue: #153672;
$htcYellow: #f2b328;
$buttonGrey: #58595b;
$brightBlue: #007aff;
$buttonBlue: #0a4a72;
$skyBlue: #50abe4;
$whiteGreen: #95e682;
$brightGreen: #2DCE06;
$blueGrey: #9ecaed;
$greenGrey: #a6b779;

$red: #f00;
$errorRed: #c1272d;
$errorHighlight: #ff7f7f;

$white: rgba(255, 255, 255, 1);
$white14: rgba(255, 255, 255, 0.14);

$black: rgba(0, 0, 0, 1);
$black14: rgba(0, 0, 0, 0.14);

$grey1: #111;
$grey2: #222;
$grey3: #333;
$grey4: #444;
$grey5: #555;
$grey6: #666;
$grey7: #777;
$grey8: #888;
$grey9: #999;
$greyA: #aaa;
$greyD: #ddd;
$greyE: #eee;
$grey4D: #4d4d4d;

$lighten15: rgba(255, 255, 255, 0.15);
$lightenQuarter: rgba(255, 255, 255, 0.25);
$lighten33: rgba(255, 255, 255, 0.33);
$lightenHalf: rgba(255, 255, 255, 0.5);
$lighten66: rgba(255, 255, 255, 0.66);
$lighten75: rgba(255, 255, 255, 0.75);

$darken15: rgba(0, 0, 0, 0.15);
$darkenQuarter: rgba(0, 0, 0, 0.25);
$darken33: rgba(0, 0, 0, 0.33);
$darkenHalf: rgba(0, 0, 0, 0.5);
$darken66: rgba(0, 0, 0, 0.66);
$darken75: rgba(0, 0, 0, 0.75);


