.carousel-slide img {
  margin: auto;
  width: auto;
  height: 100%;
  border: 1px solid #111;
}

.slick-track, .slick-list {
  height: 100%;
}
div.slick-slider {
  height: 93%;
}

.slick-dots {
  bottom: 0px;
  margin-bottom: 2px;
}

div.demo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 11000;
  background: #fff;
  padding-top: 0px;
}

.demo-skip {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.button.Demo-Button {
  text-align: left;
  padding-left: 25px;
}