.oc-drawer {
  list-style: none;
  background: rgba(1,0,0,0.9);
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;

  width: 75%;

  padding: 0px;
  padding-top: 50px;

  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
.oc-drawer-open {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.oc-drawer-closed {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
/* Navigation Menu - List items */
.oc-drawer li {
  margin-left: 10px;
  min-width: 200px;
  width: 100%;
}

.oc-drawer li a {
  display: block;
  width: 100%;
  padding: 3px 5px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;

  -webkit-transition: text-shadow 3s ease;
  -moz-transition: text-shadow 3s ease;
  -o-transition: text-shadow 3s ease;
  transition: text-shadow 3s ease;
}
.oc-drawer li a:active {
    text-shadow: 0px 0px 5px #fff;
}

.oc-drawer li.logout {
  position: absolute;
  bottom: 15px;
  color: #fff;
  padding-left: 5px;
}
