.oc-drawer {
    list-style: none;
    background: rgba(1,0,0,0.9);
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;

    padding: 0px;
    padding-top: 50px;

    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;
}
.oc-drawer-open {
    width: 75%;
}
.oc-drawer-closed {
    width: 0px;
}
/* Navigation Menu - List items */
.oc-drawer li {
    margin-left: 10px;
    min-width: 200px;
    width: 100%;
}

.oc-drawer li a {
    display: block;
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;

    -webkit-transition: text-shadow 3s ease;
    -moz-transition: text-shadow 3s ease;
    -o-transition: text-shadow 3s ease;
    transition: text-shadow 3s ease;
}
.oc-drawer li a:active {
    text-shadow: 0px 0px 5px #fff;
}

.oc-drawer li.logout {
  position: absolute;
  bottom: 15px;
  color: #fff;
  padding-left: 5px;
}
