
div.hot-or-not {
  padding: 0px;
  margin-top: 15px;
  clear: both;
  overflow-x: hidden;
}

img.img-alumni {
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
}

img.img-alumni.bounceIn {
  -webkit-transform: scale(0,0);
  transform: scale(0,0);
}
