div.hot-or-not {
  padding: 0px;
  clear: both;
  overflow: hidden;
  width: 70vw;
  display: block;
}
.img-swipe-container {
  width: 70vw;
  overflow: hidden;
  text-align: center;
}
.img-swipe-container img {
  width: 70vw;
  height: auto;
}

div.hotOrNotButtons {
  width: 150px;
  margin: 0 auto;
  padding-top: 10px;
  clear: both;
}

div.hotOrNotButtons div.swipeIndicator {
  height: 50px;
  width: 50px;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  overflow: hidden;
  background: $white;
  border-radius: 100%;
  box-shadow: 0 0 2px 1px $darken15;
  text-align: center;
  font-size: 50px;
}
div.hotOrNotButtons div.swipeIndicator i.material-icons {
  font-size: 40px;
  line-height: 50px;
}
div.hotOrNotButtons .Dismiss {
  color: #f00;
}

div.hotOrNotButtons .Save {
  color: #2DCE06;
}

.yellow {
  color: $htcYellow;
}

.mainContent .poloroid-container {
  position: relative;
  margin: 0;
  width: 100%;
}

.mainContent .poloroid {
  width: 80vw;
  border: 5vw solid $white;
  border-bottom: 1px;
  background: $white;
  box-shadow: 0 0 2px 1px $darken15;
  margin-left: 10vw;
  float: left;
}
.mainContent .poloroid-container .cards {
  box-shadow: 0 0 1px 1px $darken15;
  height: 3px;
  background: $white;
  clear: both;
  float: left;
  position: relative;
  margin-top: 1px;
}
.mainContent .poloroid-container .card1 {
  width: 76vw;
  margin-left: 12vw;
  z-index: -1;
}
.mainContent .poloroid-container .card2 {
  width: 72vw;
  margin-left: 14vw;
  z-index: -2;
}

.mainContent .poloroid-footer {
  padding: 6vw 0 6vw 0;
}
.mainContent .poloroid-footer .highDemand {
  font-size: 0.92rem;
  vertical-align: middle;
  line-height: 22px;
  font-weight: bold;
}

.poloroid-img {
  margin: auto;
}

.poloroid h3 {
  display: inline;
  color: $grey7;
}

.alumniDescription {
  clear: both;
  display: none;
  padding: 15px;
}