
div.hot-or-not {
  padding: 0px;
  margin-top: 15px;
  clear: both;
  overflow-x: hidden;
}

img.img-alumni {
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
}

img.img-alumni.bounceIn {
  -webkit-transform: scale(0,0);
  transform: scale(0,0);
}


/***** [ Animation code  ] *****/
.bounce {
  -webkit-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.bounceFast {
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.linear {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.linearFast {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.noAnimation {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
