/* Fonts  */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 12pt;
}
strong.bad,b {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 12pt;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 36pt;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 24pt;
}
h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 16pt;
}
.menuFont {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 21pt;
}



/*  Structure  */
body {
  background-color: #fff;
}

.mainContent {
  /*  This makes the various pieces relatively space, start below the fixed header */
  padding-top: 50px;
}
.mainContent>div {
  margin-left: 15px;
  margin-right: 15px;
}
.mainContent .solid-bar {
  margin: 0px;
}


.mainContent button, .button {
  border: 0px;
  background-color: $htcBlue;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  min-width: 125px;
  display: block;
  margin: auto;
  font-weight: bold;
}
.mainContent button.grayButton, .button.grayButton {
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  font-weight: bold;
}
.mainContent .redButton,
.redButton {
  background-color: $red;
}

.mainContent .greenButton,
.greenButton {
  background-color: $brightGreen;
}
.mainContent .yellowButton,
.yellowButton {
  background-color: yellow;
}

.mainContent .solid-bar button {
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 20px;
  font-size: 16pt;
  margin: 0px;
}
button.leftArrow {
  padding-left: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}
button.leftArrow:before {
  font-size: 24px;
  font-weight: bold;
  content: '\2190 \00A0 \00A0';
}

button.rightArrow {
  padding-right: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}
button.rightArrow:after {
  font-size: 24px;
  font-weight: bold;
  content: '\00A0 \00A0 \2192';
}

.cluster-list ul,
.pathway-list ul,
.occupation-list ul
{
  list-style-type: none;
}



/* Utility Classes */

div.pageMessage, .pageMessage {
  font-size: 10pt;
  font-weight: normal;
  padding: 5px 15px 10px 15px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
div.full,.mainContent div.full,#mainContent div.full {
  margin-left: 0px;
  margin-right: 0px;
}

div.gray {
  background: #ddd;
}
div.bluegray {
  background: $lightBlue;
}
.padded {
  padding: 15px;
}

.italic {
  font-style: italic;
}

.smaller {
  font-size: .8em;
}
.larger {
  font-size: 1.2em;
}
.center {
  text-align: center;
}

.contentLoading {
  min-height: 40px;
  min-width: 40px;
  background-image: url(../img/content-loading.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

input {
  -webkit-user-select: auto !important;
}

ul.listView {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.listView li {
  padding: 5px 15px;
  margin: 0px;
  border-bottom: 1px solid $darken66;
}

.listView.dim li {
  border-color: $darken33;
}
.listView.taller li {
  padding: 10px 15px;
}

.listView li:first-child {
  border-top: 1px solid $darken66;
}

.listView.dim li:first-child {
  border-color: $darken33;
}

.listView li.chevronRight, .listView li.chevronRightDim {
  padding-right: 30px;
}
.chevronRight {
  background-image: url(../img/right_arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.chevronRightDim {
  background-image: url(../img/right_arrow_dim.png);
  background-repeat: no-repeat;
  background-position: right center;
}
.alumni-img-detail .img-alumni {
  margin: auto;
}

.clickable {
  cursor: pointer;
}

.section {
  border-bottom: 1px solid $darken75;
}

.alumni-img-detail .img-alumni {
  margin: auto;
}

.section {
  border-bottom: 1px solid $darken75;
}
.lightBlueText {
  color: $lightBlue;
}

.noMargin {
  margin: 0;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cached-image.loading {
  max-width: 50%;
}