/* Fonts  */
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 12pt;
}
strong.bad,b {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 12pt;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 36pt;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 24pt;
}
h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 16pt;
}
.menuFont {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 21pt;
}



/*  Structure  */
body {
  background-color: #fff;
}

.mainContent {
  /*  This makes the various pieces relatively space, start below the fixed header */
  padding-top: 50px;
}
.mainContent>div {
  margin-left: 15px;
  margin-right: 15px;
}
.mainContent .solid-bar {
  margin: 0px;
}


.mainContent button, .button {
  border: 0px;
  background-color: $htcBlue;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  min-width: 125px;
  display: block;
  margin: auto;
  font-weight: bold;
}
.mainContent button.grayButton, .button.grayButton {
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  font-weight: bold;
}
.mainContent .redButton,
.redButton {
  background-color: $red;
}

.mainContent .greenButton,
.greenButton {
  background-color: $brightGreen;
}
.mainContent .yellowButton,
.yellowButton {
  background-color: yellow;
}

.mainContent .solid-bar button {
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 20px;
  font-size: 16pt;
  margin: 0px;
}
button.leftArrow {
  padding-left: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}
button.leftArrow:before {
  font-size: 24px;
  font-weight: bold;
  content: '\2190 \00A0 \00A0';
}

button.rightArrow {
  padding-right: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}
button.rightArrow:after {
  font-size: 24px;
  font-weight: bold;
  content: '\00A0 \00A0 \2192';
}

.cluster-list ul,
.pathway-list ul,
.occupation-list ul
{
  list-style-type: none;
}

/* Misc Multi-screen classes */
i.salaryGrowth {
  float: right;
  color: $brightGreen;
  font-weight: bold;
  vertical-align: middle;
}

i.jobGrowth {
  float: right;
  color: $brightGreen;
  font-weight: bold;
  vertical-align: middle;
}

.ribbon-container {
  position: absolute;
  z-index: 5;
  width: 100%;
  margin-top: -15px;
}
.ribbon-container i.jobGrowth {
  z-index: 5;
  position: absolute;
  left: 10px;
}

.ribbon-container i.salaryGrowth {
  z-index: 5;
  position: absolute;
  right: 10px;
}

.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

  width: 55%;

  position: relative;
  background: $htcYellow;
  color: #fff;
  text-align: center;
  padding: 0.2em 1em; /* Adjust to suit */
  margin: auto; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
  border-radius: 20px/50px;
  border-top: 5px solid $htcYellow;
  border-bottom: 5px solid $htcYellow;
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.1em;

  border: 0.85em solid $htcYellow;
  z-index: -1;
}
.ribbon:before {
  left: -1.5em;
  border-right-width: 0.9em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -1.5em;
  border-left-width: 1.1em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 0.8em 0 0 0.8em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

/* Utility Classes */

div.pageMessage, .pageMessage {
  font-size: 10pt;
  font-weight: normal;
  padding: 5px 15px 10px 15px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
div.full,.mainContent div.full,#mainContent div.full {
  margin-left: 0px;
  margin-right: 0px;
}

div.gray {
  background: #ddd;
}
div.bluegray {
  background: $lightBlue;
}
.padded {
  padding: 15px;
}

.italic {
  font-style: italic;
}

.smaller {
  font-size: .8em;
}
.larger {
  font-size: 1.2em;
}
.center {
  text-align: center;
}

.contentLoading {
  min-height: 40px;
  min-width: 40px;
  background-image: url(../img/content-loading.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

input {
  -webkit-user-select: auto !important;
}

.listView ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.listView li {
  padding: 5px;
  margin: 0px;
}

.alumni-img-detail .img-alumni {
  margin: auto;
}
