.platform-ios {
  border-top: 20px solid #fff;
}

.platform-ios .navbar-flat {
  top: 20px;
}

.platform-ios #menuButton {
  top: 20px;
}

.platform-ios .login-overlay {
  padding-top: 20px;
}

.platform-ios .oc-drawer {
  border-top: 20px solid #fff;
}
.statusbar-helper {
  position: fixed;
  width: 100%;
  z-index: 100;
  left: 0px;
  top: 0px;
  height: 20px;
  background-color: #fff;
  display: none;
}
.platform-ios .statusbar-helper {
  display: block;
}
