.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #435C89;
  margin: 0px;
}
.logo-header{
  background: #153672;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5px;
  text-align: center;
}
.logo-header img {
  margin: auto;
}
.logo-header h2 {
  color: #fff;
  font-weight: normal;
  margin-top: 5px;
  padding-bottom: 5px;
}
.login-logo {
  max-width: 30%;
}
.logo-header .logo {
  border-radius: 200px;
  height: 75px;
  width: 75px;
  background: #5c7fbc;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  color: #000;
  font-weight: bold;
}

.login-overlay button.clearButton {
  background-color: transparent;
  width: 90%;
  margin: 10px auto;
  border: 3px solid #fff;
  min-height: 32px;
  vertical-align: middle;
  line-height: 32px;

}

.login-overlay button span.icon {
  width: 32px;
  height: 100%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  float: left;
  overflow: visible;
}

span.icon.facebook {
  background-image: url(../img/facebook.png);
}
span.icon.twitter {
  background-image: url(../img/twitter.png);
}
span.icon.google {
  background-image: url(../img/google.png);
}
span.icon.linkedin {
  background-image: url(../img/linkedin.png);
}

.login-footer {
  background: #153672;
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 15px 0 15px 0;
  color: #435C89;
}
.login-footer input {
  width: 90%;
  display: block;
  margin: 10px 5%;
  border: 0px;
  border-bottom: 1px solid #435C89;
  background: transparent;
  color: #fff;
}
.login-footer input:active, .login-footer input:focus {
  border: 0px;
  border-bottom: 1px solid #FFF;
}
.login-overlay .login-footer button {
  border: 2px solid #fff;
  margin: 3px 10px 3px 10px;
}
.login-footer button.slight {
  border: 0px;
  font-weight: 300;
  font-size: 0.8em;
  padding-top: 0px;
  padding-bottom: 0px;
}
#login-actions {
  padding-top: 15px;
}
#signup-actions, #login-password-confirm, #reset-actions {
  display: none;
}

.login-buttons {
  padding-top: 20px;
  width: 100%;
  overflow-y: auto;
  max-height: 50%;
}

/***[ CCC-155 Fix login overlap on small screens ]***/
@media screen and (max-height: 550px) {
  .login-buttons {
    padding-bottom: 50px;
  }
}
