.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $htcBlue;
  margin: 0px;
  color: $white;
}
.logo-header{
  text-align: center;
  width: 80%;
  margin-top: 20%;
  margin-left: 10%;
}

#allLoginForms button {
  background-color: $lightBlue;
  width: 80%;
  margin: 20px auto;
  min-height: 32px;
  vertical-align: middle;
  line-height: 32px;
  font-weight: normal;
  border: 0px solid transparent;
}

.login-overlay button span.icon {
  width: 32px;
  height: 100%;
  background-position: 50%, 50%;
  background-repeat: no-repeat;
  float: left;
  overflow: visible;
}

span.icon.facebook {
  background-image: url(../img/facebook.png);
}
span.icon.twitter {
  background-image: url(../img/twitter.png);
}
span.icon.google {
  background-image: url(../img/google.png);
}
span.icon.linkedin {
  background-image: url(../img/linkedin.png);
}

.login-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0;
}
#allLoginForms {
  border-top: 1px solid $darkenQuarter;
  background: rgba(21, 54, 114, 0.7);
}

#allLoginForms input:not(#ageVerificationCheckbox) {
  width: 90%;
  display: block;
  margin: 10px 5%;
  border: 0px;
  border-bottom: 1px solid $lightBlue;
  background: transparent;
  color: #fff;
}
.login-footer input:active, .login-footer input:focus {
  border: 0px;
  border-bottom: 1px solid #FFF;
}

#allLoginForms button.slight {
  border: 0px;
  font-weight: 300;
  font-size: 0.8em;
  padding-top: 0px;
  padding-bottom: 0px;
}
#allLoginForms button.left {
  width: 42.5%;
  margin-left: 5%;
}
#allLoginForms button.right {
  width: 42.5%;
  margin-right: 5%;
}

#allLoginForms>div:not(:first-child) {
  display: none;
}

.terms, .privacy {
  color: $errorRed;
  font-weight: bold;
  cursor: pointer;
}

#signupFooter {
  clear: both;
  margin-bottom: 10px;
}
#ageVerificationCheckbox {
  display: inline;
  border: 2px solid $white;
  background-color: $htcBlue;
  width: auto;
}

/** acknowledgement text **/
.brought {
  width: 100%;
  border-top: 1px solid $darkenQuarter;
  padding: 10px 0;
  clear: both;
}
.brought img {
  margin: 0px auto;
  max-width: 50%;
}

.brought.attach {
  position: absolute;
  bottom: 0;
}
