div.modalWindow {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  zindex: 200;
  margin: 0px;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  background: rgba(1,0,0,0.9);

  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

div.modalWindow.modalOpen {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
div.modalWindow.modalClosed {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

div.modalWindow button {
  border: 3px solid #fff;
  background: transparent;
  text-align: center;
  padding: 5px 10px;
  min-width: 125px;
  font-weight: bold;
}

div.modalWindow button.enabled {
  display: block;
}
div.modalWindow button.disabled {
  display: none;
}

div.modalWindow div.clear {
  margin-top: 25px;
}
