.salaryInfo ul {
    list-style: none;
    padding: 0px;
    border: 1px solid #ddd;
    margin: 0px;
}

.salaryInfo ul li {
    padding: 5px 10px 5px 30px;
}
.salaryInfo ul li:nth-child(odd){
    background: #eee;
}

.salaryInfo .awardType {
    padding: 0 15px;
    font-weight: bold;
}
.salaryInfo .money {
    float: right;
}

.OccupationDetail .OccupationTitle {
    font-size: 1.05em;
    font-weight: 600;
}
.OccupationSalaryDataTable {
    font-size: 1em;
}

.OccupationSalaryDataTable td {
    padding-right: 10px;
}
.sortTypes {
    white-space: nowrap;
    white-space-collapse: discard;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.sortTypes .sortOption {
    border: 2px solid #000;
    background: #fff;
    padding: 4px 6px;
    font-size: .75em;
    display: inline-block;
    border-radius: 8px;
    width: 30%;
    margin: 0px 2.5%;
    font-weight: bold;
}

.sortTypes .sortOption.active {
    background-color: #336ebf;
    color: white;
}