.salaryInfo {
    border: 2px solid #0071bc;
    padding: 5px;
    font-size: 11pt;
}

.salaryInfo h2 {
    background: #0071bc;
    width: 100%;
}

.salaryInfo ul {
    list-style: none;
    padding: 0px;
    border: 1px solid #ddd;
    margin: 0px;
}

.salaryInfo ul li {
    padding: 5px 10px;
}
.salaryInfo ul li:nth-child(odd){
    background: #eee;
}

.salaryInfo .money {
    float: right;
}

.OccupationDetail {
    border: 3px solid #336ebf;
    border-radius: 10px;
    padding: 5px;
}
.OccupationDetail .OccupationTitle {
    font-size: .9em;
    font-weight: 600;
}
.OccupationSalaryDataTable {
    font-size: .75em;
}

.OccupationSalaryDataTable td {
    padding-right: 10px;
}