.mainProgress {
  width: 35%;
  padding: 5px 0 0 0;
  margin: 0px;
  line-height: 0px;
  float: right;

  /*This is 3 gradients layered, the bottom one for the "line" through the
  middle of the progress indicators and the other two to keep it from sticking
  out past the ends of the first and last indicator*/
  background-image:
  linear-gradient(
    to left,
    #153672,
    #153672 18%,
    rgba(255, 255, 255, 0) 19%,
    rgba(255, 255, 255, 0)
  ),
  linear-gradient(
    to right,
    #153672,
    #153672 1%,
    rgba(255, 255, 255, 0) 1%,
    rgba(255, 255, 255, 0)
  ),
  linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 5px,
    #000000 5px,
    #000000 7px,
    rgba(255, 255, 255, 0) 7px
  );
}

.progressSection, .progressSubSection {
  width: 33%;
  text-align: center;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  float: left;
}
.progressSection .progressLabel {
  height: 20px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.progressSection span {
  margin-top: 10px;
  font-size: 8pt;
  clear: both;
  display: block;
  color: #fff;
  font-weight: normal;
}

.progressIndicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1.5px solid #000;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  border-radius: 50%;

  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.progressIndicator.complete, .progressIndicator.completed {
  background-color: #c2212c;
}
