.proximity-main {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #6480ab;
    padding: 15px;
    margin-bottom: 15px;
}
.proximity-main input {
 -webkit-user-select: all !important;
}
.collegeProximityList {
    padding: 0px;
}
.collegeProximityList li  {
    list-style:  none;
    border: 2px solid #6480ab;
    margin-bottom: 5px;
    width: 100%;
    padding: 6px;
}
.collegeProximityList li i, .collegeProximityList .distance {
    float: right;
}
