div.questions h1 {
    padding-top: 10px;
    clear: both;
}
div.answers {
    padding: 5px 15px 15px 15px;
    width: 100%;
}

div.answers .button {
    width: 95%;
    color: #000;
    margin-top: 10px;
    padding: 10px 3px 10px 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 4px solid #fff;
    text-align: left;
    font-weight: normal;
}

div.answers button.button.answer5 {
    color: #2DCE06;
    border-color: #2DCE06;
  -webkit-tap-highlight-color: rgba(0,155,0,0.2);
}
div.answers button.button.answer4 {
    color: #2DCE06;
    border-color: #95e682;
  -webkit-tap-highlight-color: rgba(0,155,0,0.2);
}
div.answers button.button.answer3 {
    color: #888;
    border-color: #aaa;
    -webkit-tap-highlight-color: rgba(0,0,0,0.2);
}
div.answers button.button.answer2 {
    color: #f00;
    border-color: #ff7f7f;
    -webkit-tap-highlight-color: rgba(255,0,0,0.2);
}
div.answers button.button.answer1 {
    color: #f00;
    border-color: #f00;
  -webkit-tap-highlight-color: rgba(255,0,0,0.2);
}

.quizProgress {
  float: right;
}
.quizProgress, .backButton {
    background: #5C7FBE;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 9pt;
    font-weight: 300;
    color: #fff;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
}
.backButton {
  float: left;
  font-size: 22pt;
  line-height: 22pt;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.backButton.question1 {
  opacity: 0;
}

.sectionComplete {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  zindex: 200;
  margin: 0px;
  color: #fff;
  font-weight: bold;
  display: none;
}
.sectionCompleteMessage {
  padding-bottom: 15px;
  background: rgba(1,0,0,0.9);
}
.sectionComplete .bravo {
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}
.sectionComplete p {
  margin-left: 15px;
  margin-right: 15px;
}

.sectionComplete .sectionCompleteMessage button.continue {
  float: right;
  margin-right: 15px;
  border: 3px solid #fff;
  background: transparent;
}

.sectionCompleteStars {
  background: none; /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 50%, rgba(0,0,0,0.9) 51%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,255,255,0)), color-stop(51%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(0,0,0,0.9) 51%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(0,0,0,0.9) 51%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(0,0,0,0.9) 51%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 50%,rgba(0,0,0,0.9) 51%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  margin: 0;
  padding: 0;
  text-align: center;
}
.starSection {
  display: inline-block;
  width: 25%;
}

.starSvg {
  width: 100%;
  height: auto;
}

.star {
  fill:none;
  stroke: #896412;
  stroke-width:7;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:none;
}

.star.complete, .star.completed {
  fill: #896412;
}

.star1, .star3 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.star2 {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}
