.Resources {
  padding: 10px;
}
.Resources ul {
  padding: 0px;
}
.Resources ul li {
  list-style: none;
  width: auto;
  padding: 15px 3px 15px 25px;
  background: #aaa;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}