div.loading {
  width: 0px;
  height: 0px;
  overflow: hidden;

  -webkit-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border: 0px solid #fff;
  border-radius: 10%;
  background: rgba(0,0,0,0.85);
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: 50% 95%;

  color: #fff;
  vertical-align: middle;
  text-align: center;
  line-height: 100%;
  padding: 0px;


  position: absolute;
  left: 50%;
  top: 50%;
}
div.loading div {
  font-size: 20pt;
  margin: 15px;
}

div.loading img {
  margin: 0 auto;
}
div.fetching div.loading {
  width: 70%;
  left: 15%;
  height: 40%;
  top: 30%;
  box-shadow: 0px 0px 10px 10px #222;
  border-width: 2px;
}

dd div.score div.fill {
  width: 0px;
  -webkit-transition: width 0.9s ease, background-color 0.9s ease;
  -moz-transition: width 0.9s ease, background-color 0.9s ease;
  -o-transition: width 0.9s ease, background-color 0.9s ease;
  transition: width 0.9s ease, background-color 0.9s ease;
}


dt {
  display: inline-block;
  font-size: 125%;
  font-weight: normal;
  text-align: right;
  width: 45%;
  padding-right: 15px;
  margin-left: 15px;
  box-sizing: border-box;
}

dd {
  display: inline;
  margin: 0;
  min-height: 10px;
}

dd:after {
  display: block;
  content: '';
}

.score, .fill {
  height: 24px;
  border-radius: 12px;
}

dd div.score {
  border: 1px solid #aaa;
  display: inline-block;
  width: 45%;
  float: right;
  margin-right: 15px;
  background: #fff;
  box-sizing: border-box;
}

dd div.score div.fill {
  background: rgb(202, 233, 180);
  height: 100%;
  width: 0px;
}

dd div.desc {
  display: none;
  padding: 15px;
  background: #ddd;
}

#results {
  background-color: #fff;
  padding-bottom: 15px;
}

.congrats {
  color: #71c28e;
  font-weight: normal;
}

div.results p {
  line-height: 1px;
}

.actionButtons .button, .actionButtons .button.grayButton {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.actionButtons .button i {
  float: left;
}