div.statusMessages {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 0px;
  width: 100%;
  z-index: 9999;
  overflow-y: visible;
}
div.statusMessages .message:first-of-type {
  margin: 105px auto 5px auto;
}
div.statusMessages .message {
  width: 85%;
  padding: 5px 15px 5px 15px;
  background: rgba(0,0,0,0.8);
  border: 4px solid #fff;
  margin: 5px auto 5px auto;
  color: #fff;
  font-size: 9pt;
  box-shadow: 3px 3px 3px #666;
  border-radius: 20px/50px;

}
div.statusMessages .message .messageTitle {
  font-weight: bold;
}
div.statusMessages .message .messageIcon {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  font-size: 30pt;
  text-shadow: 0px 0px 10px #fff;
}


div.statusMessages .message.success {
  border-color: rgba(0, 128, 0, 0.85);
}
div.statusMessages .message.success .messageIcon::before {
  content: "offline_pin";
  color: rgb(0, 128, 0);
}

div.statusMessages .message.info {
  border-color: rgba(0, 113, 188, 0.85);
}
div.statusMessages .message.info .messageIcon::before {
  content: "info";
  color: rgb(0, 113, 188);
}

div.statusMessages .message.warn {
  border-color: rgba(255, 69, 0, 0.85);
}
div.statusMessages .message.warn .messageIcon::before {
  content: "warning";
  color: rgb(255, 69, 0);
}

div.statusMessages .message.error {
  border-color: rgba(193, 39, 45, 0.85);
}
div.statusMessages .message.error .messageIcon::before {
  content: "error";
  color: rgb(193, 39, 45);
}
