.welcome-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/home-bg.png) no-repeat right top $htcBlue;
  background-size: cover;
  margin: 0px;
  z-index: 9999;
  color: #fff;
  padding-top: 20px;
}

div.welcome-overlay div.logo-header {
  margin-bottom: 0px;
}

.welcome-header {
  font-size: 1.4em;
  margin: 10% 15px;
  text-align: center;
}

.welcomeActions {
}

.welcomeAction {
  width: 23%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  margin: 0 3.875%
}
.welcomeAction:first-child {
  margin-left: 7.75%;
}

.welcomeActionIcon {
  width: 100%;
  height: 23vw;
  background-color: $white;
  background-size: auto 38%;
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 100%;

  margin-bottom: 15px;
}

.welcomeActionIcon.salaryIcon {
  background-size: auto 35%;
}

.careerIcon {
  background-image: url(../img/career-icon-color.png);
}
.salaryIcon {
  background-image: url(../img/salary-icon-color.png);
}
.collegeIcon {
  background-image: url(../img/college-icon-color.png);
}

.welcomeAction span {
  text-align: center;
  font-weight: bold;
}

#menuButton.welcome {
  color: $lightenHalf;
}

@media all and (max-height: 545px) {
  .logo-header {
    margin-top: 8%;
  }
  .welcome-header {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}
