.welcome-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/home-bg.png) no-repeat right top $htcBlue;
  background-size: cover;
  margin: 0px;
  z-index: 9998;
  color: #fff;
  padding-top: 20px;
}

div.welcome-overlay div.logo-header {
  margin-bottom: 0px;
}

.welcome-overlay .logo-header img.landscape {
  display: none;
}

.welcome-header {
  font-size: 1.4em;
  margin: 10% 15px;
  text-align: center;
}

.welcomeActions {
}

.welcomeAction {
  width: 23%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  margin: 0 3.875%
}
.welcomeAction:first-child {
  margin-left: 7.75%;
}

.welcomeActionIcon {
  width: 100%;
  height: 23vw;
  background-color: $white;
  background-size: auto 38%;
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 100%;

  margin-bottom: 15px;
}

.welcomeActionIcon.salaryIcon {
  background-size: auto 35%;
}

.careerIcon {
  background-image: url(../img/career-icon-color.png);
}
.salaryIcon {
  background-image: url(../img/salary-icon-color.png);
}
.collegeIcon {
  background-image: url(../img/college-icon-color.png);
}

.welcomeAction span {
  text-align: center;
  font-weight: bold;
}

#menuButton.welcome {
  color: $lightenHalf;
}

@media all and (max-height: 545px) {
  .logo-header {
    margin-top: 8%;
  }
  .welcome-header {
    margin-top: 4%;
    margin-bottom: 4%;
  }
}

// iPad/Tablet Specific
@media screen and (orientation:portrait) and (device-aspect-ratio: 3/4) {
  .logo-header {
    margin-top: 12%;
  }
  .welcome-header {
    margin: 7% auto;
  }
}

/** Settings for when the welcome screen is in landscape **/
@media screen and (orientation:landscape) {
  .logo-header {
    width: 75%;
    margin: 50px auto 0 auto;
  }

  .welcome-header {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .welcome-overlay .logo-header img.portrait {
    display: none;
  }
  .welcome-overlay .logo-header img.landscape {
    display: block;
  }
  .welcomeActionIcon {
    height: 10vw;
    width: 10vw;
    margin: 5px auto;
  }
  .brought {
    padding: 10px 25%;
  }
  .brought  img {
    max-width: 60%;
  }

  //To keep Smaller screens from collapsing the icon labels
  @media (max-width: 579px) {
    .welcomeAction {
      margin: 0 1.5%;
      width: 28%;
    }
    .welcomeAction:first-child {
      margin-left: 4%;
    }
  }

  // iPad/Tablet
  @media (device-aspect-ratio: 4/3) {
    .logo-header {
      margin-top: 15%;
    }
    .welcome-header {
      margin: 15% auto 3% auto;
    }
  }
}


/**Loading screen transitions**/

.welcome-overlay.blur {
  transition: 500ms -webkit-filter linear, 1s filter linear;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.body-loading .welcome-overlay.blur {
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.welcome-overlay.whiteout {
  transition: 500ms -webkit-filter linear, 1s filter linear;
  -webkit-filter: grayscale(0%) brightness(100%);
  filter: grayscale(0%) brightness(100%);
}

.body-loading .welcome-overlay.whiteout {
  -webkit-filter: grayscale(100%) brightness(1000%);
  filter: grayscale(100%) brightness(1000%);
}