<div class="About">
  <div class="gray">
    <div {{action "openExternalLink" "http://www.onetcenter.org/overview.html"}} class="about-section OnetInIt">
      <img src="img/onet-logo.png" class="img-responsive" />
    </div>
    <div {{action "openExternalLink" "http://www.younginvincibles.org/about/"}} class="about-section YI">
      <img src="img/yi-logo.png" class="img-responsive" />
      <img src="img/yi.png" class="img-responsive" />
    </div>
    <div {{action "openExternalLink" "http://www.ginkgostreet.com/"}} class="about-section Ginkgo">
      <img src="img/ginkgo-logo.svg" class="img-responsive" />
    </div>
  </div>
</div>