<link rel="stylesheet" href="css/progress-bar.css" />
<link rel="stylesheet" href="css/alpha-release.css" />

<nav class="navbar navbar-flat">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" id="title">
                My Career Network
            </span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'question' 1 }}Quiz{{/link-to}}</li>
                <li>{{#link-to 'results'}}Results{{/link-to}}</li>
                <li>{{#link-to 'alumni' 1}}Alumni{{/link-to}}</li>
                <li>{{#link-to 'select-clusters'}}Career Pathways{{/link-to}}</li>
            </ul>
        </div>
    </div>
</nav>

{{main-progress}}

{{outlet}}
