<div class="demo full">
  {{#slick-slider autoplay=false arrows=false dots=true mobileFirst=true adaptiveHeight=false infinite=false}}
    {{#each slide in model}}
      <div class="box carousel-slide">
        <img src="img/demo/{{slide.img}}" />
        <p>{{{slide.text1}}}</p>
        <hr />
        <p>{{{slide.text2}}}</p>
      </div>
    {{/each}}
  {{/slick-slider}}
  <button {{action "navigateAway"}} class="demo-skip">Skip >></button>
</div>
