<nav class="navbar-flat" >
    <span class="navbar-brand" id="title">
        My Career Network
    </span>
</nav>
<span {{action "toggleDrawer"}} class="navbar-brand" id="menuButton">&#x2261;</span>
{{oc-drawer register-as=drawer}}