<nav class="navbar-flat" >
  <span class="navbar-brand" id="title">
    Here to Career
  </span>
  {{main-progress}}
</nav>
<span {{action "toggleDrawer"}} class="navbar-brand material-icons" id="menuButton">menu</span>
{{oc-drawer register-as=drawer logout="logout"}}
