<h3>{{model.text}}</h3>

{{#each opt in questionOptions}}
  <div class="answer">
    <input type="radio" class="answer" value="{{opt.value}}" name="answer">
    <label>{{opt.label}}</label>
  </div>
{{/each}}

{{#link-to 'question'}}Next{{/link-to}}

{{outlet}}
