
<h3>This is a Question</h3>

<div id="answers">
  <div class="answer"><input type="radio" class="answer" value="a" name="answer"><label>A</label></div>
  <div class="answer"><input type="radio" class="answer" value="b" name="answer"><label>B</label></div>
  <div class="answer"><input type="radio" class="answer" value="c" name="answer"><label>C</label></div>
  <div class="answer"><input type="radio" class="answer" value="d" name="answer"><label>D</label></div>
</div>

{{#link-to 'question'}}Next{{/link-to}}

{{outlet}}
