<h3>{{model.text}}</h3>

{{#each opt in questionOptions}}
  <div class="answer">

    {{radio-button value=opt.value checked=selectedAnswer}}
    <label>{{opt.label}}</label>
  </div>
{{/each}}

{{#link-to 'question'}}Next{{/link-to}}

{{outlet}}
