<div class="Resources">
    <ul>
        <li>{{#link-to 'resources'}}Find Applications{{/link-to}}</li>
        <li>{{#link-to 'resources'}}College Terms Glossary{{/link-to}}</li>
        <li>{{#link-to 'resources'}}Application Deadlines{{/link-to}}</li>
        <li>{{#link-to 'resources'}}Schedule a Campus Tour{{/link-to}}</li>
        <li>{{#link-to 'resources'}}FAFSA Deadlines{{/link-to}}</li>
  </ul>
</div>