<div class="Resources">
  {{#if model}}
  <ul>
    {{#each resource in model}}
      <li {{action "openExternalLink" resource.linkURL}}>{{resource.title}}</li>
    {{/each}}
  </ul>
  {{else}}
    <div class="center"><strong>No Resources Found</strong></div>
  {{/if}}
</div>