<link rel="stylesheet" href="css/scores.css" />

<h2>Here are your Results</h2>

<dl>
  {{#each profileScore in model}}
    {{view 'profileScore' profileScore}}
  {{/each}}
</dl>

{{#link-to 'alumni' 1 tagName='button'}}See My Career Options{{/link-to}}
