<div>
    <div class="results" id="results">
      <h2>Here are your Results</h2>
      <dl>
        {{#each scoreArea in model}}
          {{view 'scoreArea' scoreArea}}
        {{/each}}
      </dl>
    </div>
  {{#link-to 'alumni' 1 tagName='button'}}See My Career Options{{/link-to}}
  <button {{action "shareResults"}} class="button grayButton"><i class="material-icons">&#xE80D;</i> Share Results</button>
</div>