<div class="pageMessage yellow center">Explore saved Alumni</div>
{{#if model}}
  <ul class="listView">
    {{#each model as |alumni|}}
      <li {{action "viewAlumni" alumni.id}} class="chevronRightDim">{{alumni.title}}</li>
    {{/each}}
  </ul>

{{else}}
  <div class="center">
    <strong>You have no saved alumni profiles.</strong><br />
    Please visit {{#link-to "alumni" 0}}Alumni Network{{/link-to}} first
  </div>

{{/if}}