<div class="pageMessage full bluegray center">
  Tap a program to explore degrees & salaries
</div>
<div class="full padded">
  <div class="clusters">
    <ul>{{#each cluster in arrangedContent}}
      <li {{action "forwardToClusterDetail" cluster.id}}>{{cluster.name}}</li>
    {{/each}}</ul>
  </div>
</div>