<div class="pageMessage full lightBlueText center">
  Tap a program to explore degrees & salaries
</div>
<div class="full" id="clusterList">
  <ul class="listView dim taller">
    {{#each cluster in arrangedContent}}
      {{view "cluster-button" cluster=cluster}}
    {{/each}}
  </ul>
</div>