<div class="pageMessage full bluegray center">
  Tap a program to explore degrees & salaries
</div>
<div class="full padded">
  <div class="clusters">
    <ul>{{#each cluster in arrangedContent}}
      {{view "cluster-button" cluster=cluster}}
    {{/each}}</ul>
  </div>
</div>