
<div class="msgtxt">
  <h2>Exploring in clusters...</h2>
</div>
<div class="selected-clusters">
  {{#each cluster in selectedClusters }}
    <li>{{cluster.name}}</li>
  {{/each}}
</div>
<br />
<div class="msgtext">
  <h3>Tap on a degree to learn more.</h3>
  <h3>Check-off to bookmark for later.</h3>
</div>
<div class="pathway-list">
  <ul>{{#each pathway in pathways}}
    <li>{{input type="checkbox"}}{{pathway.name}}</li>
  {{/each}}</ul>
</div>