
<div class="pageMessage">
  Here are the top three Career Clusters we think might interest you. To change this selection press and hold a Cluster in the list below to move it to the top of the list.
</div>
<div class="full padded">
  <div class="clusters">
    <ul>{{#each cluster in arrangedContent}}
      <li {{action "forwardToClusterDetail" cluster.id}}>{{cluster.name}}</li>
    {{/each}}</ul>
  </div>
</div>