
<div class="msgtxt">Here are the top three Career Clusters we think might interest you. To change this selection press and hold a Cluster in the list below and drag it to the top of the list.</div>

<div class="selected-clusters">
  <h3>Selected Clusters</h3>
  <ul>{{#each cluster in selected}}
    <li>{{cluster.name}}</li>
  {{/each}}</ul>
</div>

<div class="solid-bar">
  <div><!-- TODO: Click/swipe action --><button {{action 'saveSelection'}}>I'm ready to explore &rsaquo;&rsaquo;</button></div>
</div>

<div class="cluster-list">
  <h3>Browse More Clusters</h3>
  <ul>{{#each cluster in unselected}}
    <li>{{cluster.name}}</li>
  {{/each}}</ul>
</div>