

<div class="full gray pageMessage">
  You're Exploring...
  <div class="pathways-selected-clusters">
    {{#each cluster in model }}
      <li>{{cluster.name}}</li>
    {{/each}}
  </div>
</div>
<div class="pathway-list full padded">
  <p class="pageMessage">
    Tap on a degree to learn more.<br />
    Check-off to bookmark for later.
  </p>
  <ul>
  {{#each pathway in pathways}}
    <li>
      {{view "pathway-checkbox" pathway=pathway}}
      {{#link-to 'pathway' pathway.id}}{{pathway.name}}{{/link-to}}
      <div class="clear"></div>
    </li>
  {{/each}}
  </ul>
</div>