

<div class="full gray pageMessage">
  You're Exploring...
  <div class="pathways-selected-clusters">
    {{#each model.clusters as |cluster|}}
      <li>{{cluster.name}}</li>
    {{/each}}
  </div>
</div>
<div class="pathway-list full padded">
  <p class="pageMessage">
    Tap on a degree to learn more.<br />
    Check-off to bookmark for later.
  </p>
  <ul>
    {{#each pathways as |pathway|}}
      {{#if pathway.hasOccupations}}
        <li>
          {{job-growth value=pathway.jobGrowth includeText=false}}
          {{#if pathway.salaryGrowth}}<i {{action "explainSalaryGrowth"}} class="salaryGrowth material-icons">&#xE227;</i>{{/if}}
          {{#link-to 'pathway' pathway.id}}{{pathway.name}}{{/link-to}}
          <div class="clear"></div>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>