<div class="pageMessage full lightBlueText center">
  Tap a program to explore degrees & salaries
</div>
<div class="full" id="clusterList">
  <ul class="listView dim taller">
    {{#each clusters as |cluster|}}
      <li {{action "forwardToClusterDetail" cluster.id}} class="chevronRightDim">
        {{job-growth value=cluster.jobGrowth includeText=false float="right"}}
        {{#if cluster.salaryGrowth}}<i {{action "explainSalaryGrowth" preventDefault=true bubbles=false}} class="salaryGrowth material-icons">&#xE227;</i>{{/if}}
        <span>{{cluster.name}}</span>
      </li>
    {{/each}}
  </ul>
</div>