<div class="welcome-overlay full">
  <div class="logo-header">
    <div class="logo">Logo</div>
  </div>

  <div class="welcome-header">
    <h1>Here to Career</h1>
    <span>I want to explore...</span>
  </div>
  <div class="clear"></div>
  <div class="full welcomeActions">
    <button {{action "salaries"}} class="clearButton"><i class="material-icons">&#xE227;</i><span>Inland Empire Salaries</span></button>
    <button {{action "takeQuiz"}} class="clearButton"><i class="material-icons">&#xE30A;</i><span>My Career Interests</span></button>
    <button {{action "proximity"}} class="clearButton"><i class="material-icons">&#xE55F;</i><span>Local Degrees & Colleges</span></button>
  </div>
</div>