dt {
  display: inline-block;
  font-size: 125%;
  font-weight: bold;
  min-width: 250px;
}

dd {
  display: inline;
  margin: 0;
  min-height: 10px;
}

dd:after {
  display: block;
  content: '';
}

.score, .fill {
  min-height: 10px;
}

dd div.score {
  border: 1px solid #C1C1C1;
  display: inline-block;
  width: 100px;
}

dd div.score div.fill {
  background: #CAE9B4;
  height: 100%;
}

dd div.desc {
  display: none;
}